.navbar{
    background-color: blue;
    display: flex;
    width: 100%;
    font-size: 20px;
    /* margin: 1rem; */
    padding: 20px;
    color: aliceblue;
    width:auto;
    gap: 20px;
    

}
.logo{
    font-size: 30px;
    
}

.location{
    /* padding: 32px; */
    margin-right: 10px;
}
.todaysWeather{
margin: 10px;
}
.tenDaysWeather{
  margin-right: 10px;
}
.humidity{
margin-right: 10px;
}
.sunriseSunset{
margin-right: 10px;
}
.navLink{
/* gap:25px; */
margin-right: 45px;

}
.logoutBtn{
    margin-right: 32px;
}