.imageDetails {
  /* display: flex; */
  justify-content: center;
  margin: 32px;
}

.todaysTemp {
  font-size: 35px;
  padding: 32px;
}

.detailsPara{
    text-align: center;
    margin-top: 42px;
    font-size: 32px;
}

.todaysWeatherCards{
  /* display: flex; */
}

.todaysWeathers{
  display: flex;
}